In [1]:
import pandas as pd
import csv

In [2]:
cd EPIC_flowsheets/

/scratch/users/shrestp/mover/EPIC_flowsheets

In [3]:
cd flowsheets_cleaned/

/scratch/users/shrestp/mover/EPIC_flowsheets/flowsheets_cleaned

In [4]:
ls

flowsheet_part13.csv  flowsheet_part1.csv  flowsheet_part8.csv
flowsheet_part14.csv  flowsheet_part7.csv  flowsheet_part9.csv

In [15]:
with open('flowsheet_part7.csv', 'r') as file:
    reader = csv.reader(file)
    row_count = sum(1 for row in reader)

print(f"Number of rows: {row_count}")

Number of rows: 55673131

In [6]:
df = pd.read_csv('flowsheet_part7.csv', nrows=10000000)

In [7]:
df

,Unnamed: 0,LOG_ID,MRN,FLO_NAME,FLO_DISPLAY_NAME,RECORD_TYPE,RECORDED_TIME,MEAS_VALUE,UNITS
0,0,15122d530a21682d,c3dee9dfd0e95624,Custom Formula Data,Max Systolic,PRE-OP,2022-06-19 22:00:00,190,NaN
1,1,8aee4c0cae861c47,c3dee9dfd0e95624,Custom Formula Data,Max Systolic,POST-OP,2022-06-19 22:00:00,190,NaN
2,2,d4b6aae9eab8f1fb,c3dee9dfd0e95624,Custom Formula Data,Max Systolic,POST-OP,2022-06-19 22:00:00,190,NaN
3,3,3f2d16b040fa428a,c3dee9dfd0e95624,Custom Formula Data,Max Systolic,POST-OP,2022-06-19 22:00:00,190,NaN
4,4,dd8942d78b31db37,6045da125483b436,Vital Signs,Pulse,PRE-OP,2022-08-07 01:00:00,111,NaN
...,...,...,...,...,...,...,...,...,...
9999995,9999995,285eae2a5ba03f69,d55c0558742e6803,Devices Testing Template,SpO2,INTRA-OP,2022-03-13 10:56:00,91,%
9999996,9999996,38dc35cc5a61dd1f,d55c0558742e6803,Devices Testing Template,FIN20 (%),PRE-OP,2022-03-13 10:57:00,0,%
9999997,9999997,7e1765fcf298de75,d55c0558742e6803,Devices Testing Template,FIN20 (%),NaN,2022-03-13 10:57:00,0,%
9999998,9999998,92e85d09c206ff42,d55c0558742e6803,Devices Testing Template,FIN20 (%),NaN,2022-03-13 10:57:00,0,%
9999999,9999999,285eae2a5ba03f69,d55c0558742e6803,Devices Testing Template,FIN20 (%),INTRA-OP,2022-03-13 10:57:00,0,%

In [8]:
df['FLO_NAME'].unique()

array(['Custom Formula Data', 'Vital Signs ', 'Devices Testing Template',
       'Data', 'Patient Position', 'Anesthesia Attestation Comments',
       'Anesthesia Agents', 'CCP Vital Signs ', 'Intake/Output',
       'Drip Titration', 'Procedures', 'ECMO', 'General Respiratory',
       'Invasive', 'Blood Administration', 'ED Vitals',
       'Glycemic Control - POCT', 'ED Tech Vitals', 'Debriefing',
       'Head to Toe Assessment', 'Vitals/Screening', 'IV Assessment',
       'Trauma Arrival/Mode/Vitals', 'Pain Screening',
       'Complication/Disposition', 'LDA', 'Verification',
       'Extubation Assessment', 'OR Intake and Output',
       'Anesthesia Checklist', 'Respiratory', 'CCP Intake/Output',
       'IP Nutrition', 'Dialysis Vitals and Treatment', 'Pain Mgmt',
       'Vitals', 'Other Assessments', 'Anesthesia Monitoring',
       'Ischemic Stroke Alteplase (tPA)', 'Recovery Documentation',
       'Pulmonary', 'Non-Invasive', 'Dialysis Pre-Treatment',
       'Dialysis Post-Treatment', 'Pre Procedure Documentation',
       'Peritoneal Dialysis', 'Line/Drains/Airways', 'Transport',
       'OSA STOP" QUESTIONNAIRE"', 'Objective Data', 'Neuro',
       'Height/Weight', 'Resp Review ', 'Neuro Assess', 'Vital Signs',
       'BP/Pulse', 'NICU Vitals', 'RN Assessment', 'Vital Signs/Intake',
       'Encounter Vitals', 'Intake', 'BH Vital Signs/Daily Care',
       'O2 Device/Airway', 'Code Vitals', 'Renal/GU', 'UCSD Code Blue',
       'OB Intake/Output', 'BH Head to Toe Assessment', 'Ante / Labor',
       'Moderate Sedation', 'NICU RT', 'Assessment ', 'Quick Vitals',
       'Cardiac', 'Code Vital Signs'], dtype=object)

In [9]:
df['FLO_DISPLAY_NAME'].unique()

array(['Max Systolic ', 'Pulse', 'BP Location', 'ETO2', 'FICO2',
       'ETCO2 (mmHg)', 'Air', 'Expired Min Volume (MV)', 'Heart Rate',
       'PAWP', 'BP-ART A-line', 'SEV In', 'Exhaled TV (ml)', 'ETN2O',
       'PIP Observed', 'Set PEEP', 'Resp', 'SEV ET', 'Temp', 'SET TV',
       'FIN20 (%)', 'FiO2 (%)', 'SpO2', 'O2 Flow Rate (L/min)', 'ETCO2RR',
       'MAP-ART A-line', 'Size (mm)', 'Set Resp Rate', 'NIBP',
       'Head/Neck', 'Eyes', 'Size', 'PIV Location', 'NIBP - MAP',
       'Attestation comments', 'ISO ET', 'Min Diastolic', 'Volume',
       'Arterial Line BP (ART)', 'BP', 'Temp source', 'Min Systolic ',
       'Max Diastolic', 'MAP (mmHg)', 'O2 Device', 'Cardiac Rhythm',
       'Pain Score', 'POC Glucose (mg/dL)',
       'Is this a Neuro Surgery case?', 'Bite Block Secure',
       'Observations', 'BMI (Calculated)', 'BSA m2',
       'BSA (Calculated - sq m)', 'BMI kg/m2', 'Arterial Line MAP (ART)',
       'Urine', 'Disposition', 'Direct Admit to OR', 'Airway Device',
       'Extubation Event', 'Nitrous Oxide', 'DES ET', 'QBL', 'Padding',
       'Patient Position', 'Active warming device', 'NIBP Site', 'EKG',
       'TOF (x / 4)', 'Laryngoscopy View Grade', 'ETCO2', 'Vent Mode',
       'ISO In', 'Other Output (Comment)', 'Urine Output', 'Height',
       'Arms', 'Position Checks', 'Breath Sounds Left',
       'Laryngoscopy Technique', 'Direct Trauma Admit to OR',
       'Temp Source', 'Heart Sounds', 'Breath Sounds Right',
       'OR COMPLICATIONS', 'DES In',
       'Have you ever been treated for high blood pressure?',
       'Do you use a CPAP at home?', 'Weight', 'Additional Equipment',
       'BIS', 'Ease of Ventilation',
       'Has a physician diagnosed you with sleep apnea?',
       'Extubation Assessment', 'Table Position',
       'GI Only: Location of procedure', 'Comment', 'Heart Rate Source',
       'Additional Intake', 'Fluid Warmer', 'Temp src'], dtype=object)

In [10]:
df['RECORD_TYPE'].unique()

array(['PRE-OP', 'POST-OP', nan, 'INTRA-OP'], dtype=object)

In [11]:
df_map = df[df['FLO_DISPLAY_NAME'] == 'MAP (mmHg)']
df_map = df_map[df_map['RECORD_TYPE'] == 'POST-OP']

In [12]:
df_map

,Unnamed: 0,LOG_ID,MRN,FLO_NAME,FLO_DISPLAY_NAME,RECORD_TYPE,RECORDED_TIME,MEAS_VALUE,UNITS
8954,8954,f7585087d8f8f889,3b29292c7b3bba21,Vital Signs,MAP (mmHg),POST-OP,2020-12-12 14:45:00,86,NaN
8955,8955,f7585087d8f8f889,3b29292c7b3bba21,Vital Signs,MAP (mmHg),POST-OP,2020-12-12 14:45:00,86,NaN
8958,8958,f7585087d8f8f889,3b29292c7b3bba21,Vital Signs,MAP (mmHg),POST-OP,2020-12-12 14:46:00,86,NaN
8959,8959,f7585087d8f8f889,3b29292c7b3bba21,Vital Signs,MAP (mmHg),POST-OP,2020-12-12 14:46:00,86,NaN
8962,8962,f7585087d8f8f889,3b29292c7b3bba21,Vital Signs,MAP (mmHg),POST-OP,2020-12-12 14:50:00,90,NaN
...,...,...,...,...,...,...,...,...,...
9998193,9998193,c8467dd645b6fa20,e697a97ce1b753fd,Vital Signs,MAP (mmHg),POST-OP,2021-02-18 00:00:00,108,NaN
9998194,9998194,1070dddf443b1eaa,e697a97ce1b753fd,Vital Signs,MAP (mmHg),POST-OP,2021-02-18 00:00:00,108,NaN
9998195,9998195,981dc702f90f97f6,e697a97ce1b753fd,Vital Signs,MAP (mmHg),POST-OP,2021-02-18 00:00:00,108,NaN
9998196,9998196,9a0dfa99005a790d,e697a97ce1b753fd,Vital Signs,MAP (mmHg),POST-OP,2021-02-18 00:00:00,108,NaN
9998197,9998197,532015e787901fa4,e697a97ce1b753fd,Vital Signs,MAP (mmHg),POST-OP,2021-02-18 00:00:00,108,NaN

In [13]:
df_map['MRN'].nunique()

1921

In [14]:
df_map['LOG_ID'].nunique()

3332